#nav-list li:hover {
  background: green;
  font-weight: bold;
}
#nav-list li {
  font-size: 1.8em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-bar {
 border: 1px black;
}

#header-nav {
  background-color: lightgrey;

}
p {
  font-size: 16pt
}

#t1 {
  background-color: darkred;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
#t1h2  {
  font-size: 30pt;
}
#t2 {
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  margin-bottom: 20px;
}
#t3 {
  background-color: red;
  color: gold;
  font-weight: bold;
  margin-bottom: 20px;
}
